*{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background: rgb(0, 21, 79)
}

.logo img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar a{
    color: aliceblue;
    padding: 8px;
    text-decoration: none;
}

.logo-name {
    color: beige;
    font-size: 25px;
    font-weight: bold;
}

nav {
    margin-right: 40px;
}

body{
    background: #edf2f7;
}

.main{
    display: flex;
    margin: 1rem 3rem;
}

aside{
    width: 25%;
    margin-right: 25px;
}

main{
    width: 75%;
}

aside , main {
    display: flex;
    background: #ffffff;
    height: 500px;
    box-shadow:  0 4px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    justify-content: center;
    
}